<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js" defer></script>
  </head>

  <body>
    <h1>SHOPPING!</h1>
    <div id="app">

      <!-- <div>
        <input type="text" v-model="newProduct.name" placeholder="Product Name">
        <input type="number" v-model="newProduct.price" placeholder="Product Price">
        <input type="text" v-model="newProduct.description" placeholder="Product Description">
        <input type="text" v-model="newProduct.image_url" placeholder="Image URL">
        <button v-on:click="createProduct">Submit New Product</button>
      </div> -->

      <div>
        <button v-on:click="loadMovies">Show Movies</button>
        <div v-for="movie in movies">
          <p> {{movie}} </p>
        </div>
      </div>
      
    </div>






  </body>
</html>